<h2>Convert</h2>

<form (input)="clearResult()" (ngSubmit)="convert()" ngNativeValidate>
  <p>
    <input
      type="number"
      step="0.01"
      required
      name="from-amount"
      [(ngModel)]="fromAmount"
      placeholder="FROM: amount"
    />*
  </p>
  <p>
    From:
    <select name="from-currency-code" [(ngModel)]="fromCurrencyCode" required>
      <option selected></option>
      <option *ngFor="let code of currencyCodes">{{ code }}</option></select
    >*
  </p>

  <p>
    To:
    <select name="to-currency-code" [(ngModel)]="toCurrencyCode" required>
      <option selected></option>
      <option *ngFor="let code of currencyCodes">{{ code }}</option></select
    >*
  </p>

  <p>
    <input
      type="text"
      name="optional-date"
      [(ngModel)]="optionalDate"
      placeholder="Date [YYYY-MM-DD]"
    />
  </p>

  <p>* = required</p>

  <div *ngIf="errorMsg" class="errorMsg">{{ errorMsg }}</div>

  <button type="submit">Convert</button>

  <div *ngIf="toAmount">
    <p>
      <span *ngIf="!optionalDate">Today's </span>
      <span>
        {{ toCurrencyCode }} rate for {{ fromAmount.toFixed(2) }}
        {{ fromCurrencyCode }}
      </span>
      <span *ngIf="optionalDate"> on {{ this.exchangeDate }}</span>
    </p>
    <p>= {{ toAmount.toFixed(2) }} {{ toCurrencyCode }} ({{ toAmount }})</p>
  </div>
</form>
