<h2>Convert</h2>

<form
  *ngIf="currencyCodes"
  (input)="clearResult()"
  (ngSubmit)="convert()"
  ngNativeValidate
>
  <p>
    Amount:
    <input
      type="number"
      step="0.01"
      required
      name="from-amount"
      [(ngModel)]="fromAmount"
    />*
  </p>
  <p>
    From:
    <select name="from-currency-code" [(ngModel)]="fromCurrencyCode" required>
      <option selected></option>
      <option *ngFor="let code of currencyCodes">{{ code }}</option></select
    >*
  </p>

  <p>
    To:
    <select name="to-currency-code" [(ngModel)]="toCurrencyCode" required>
      <option selected></option>
      <option *ngFor="let code of currencyCodes">{{ code }}</option></select
    >*
  </p>

  <p>
    Optional date (YYYY-MM-DD):
    <input type="text" name="optional-date" [(ngModel)]="optionalDate" />
  </p>

  <p>* = required</p>


  <button type="submit">Convert</button>
</form>

<div *ngIf="errorMsg" class="errorMsg">{{ errorMsg }}</div>
<div *ngIf="loadingMsg" class="loadingMsg">{{ loadingMsg }}</div>

<div *ngIf="toAmount" class="results">
  <h3>
    <span>Exchange rate </span>
    <em>{{ fromCurrencyCode }} </em>
    <span>to </span>
    <em>{{ toCurrencyCode }} </em>
    <span *ngIf="!optionalDate">(today)</span>
    <span *ngIf="optionalDate">(on {{ this.exchangeDate }})</span>
  </h3>
  <p>
    {{ fromAmount.toFixed(2) }} {{ fromCurrencyCode }} =
    {{ toAmount.toFixed(8) }} {{ toCurrencyCode }}
  </p>
</div>
